      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" style="font-family: Amsterdam Two;">Utenti</h1>
    </div>
          <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col" style="color: #c5a643;">Cognome</th>
                  <th scope="col" style="color: #c5a643;">Nome</th>
                  <th scope="col" style="color: #c5a643;">Username</th>
                  <th scope="col" style="color: #c5a643;">Telefono</th>
                  <th scope="col" style="color: #c5a643;">Anni Patente</th>
                </tr>
              </thead>
              <tbody *ngFor="let utente of utenti">
                <tr>
                  <td>{{ utente.cognome }}</td>
                  <td>{{ utente.nome }}</td>
                  <td>{{ utente.username }}</td>
                  <td>{{ utente.numeroTelefono }}</td>
                  <td>{{ utente.anniPatente }}</td>
                  <td><button type="button" class="btn btn-sm btn-outline-danger">Elimina</button></td>
                </tr>
              </tbody>
            </table>
          </div>