.descrizione
{
    color:#d9d9d9;
    font-weight: bolder;
    text-shadow:
    2px 2px 4px #2c424d,
    0 0 1em #2c424d,
    0 0 0.2em #2c424d;
}

.modal-body img
{
    object-fit: cover;
}
body{
    background-image: url('n.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
}
h1{
    font-family: 'Amsterdam Two';
    text-shadow: 2px 2px 4px #000000;
}
