<body>
    <div class="px-4 py-5 text-center border-bottom">
        <h1 class="display-5 fw-bold">Catalogo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-lead" style="color: #000000;"><span class="descrizione">Esplora il nostro lussuoso catalogo di autonoleggio a Palermo, dove il fascino dell'Italia incontra la potenza delle prestigiose auto.</span></p>
    </div>
</div>
</body>
<div class="album py-5">
    <div class="container">
        <form class="w-100 me-3" role="search">
            <label for="ricerca-auto" class="display-6 mb-3">Cerca Auto</label>
            <input type="search" class="form-control border border-secondary" name="ricerca-auto"
                placeholder="Cerca per modello..." aria-label="Search">
        </form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
            <div class="col" *ngFor="let macchina of macchine;let index = index">
                <div class="card shadow-sm">
                    <img src="{{macchina.imageUrl}}">
                    <div class="card-body" style="background-color: #f3f2e4;">
                        <h5><b>{{macchina.marca}}&nbsp;{{macchina.modello}}</b></h5> 
                        <p class="card-text">{{macchina.descrizione}}</p>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-sm btn-primary vis" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#view-information' + index">
                                    Visualizza Informazioni
                                </button>
                                <button type="button" class="btn btn-sm btn-success pre" data-bs-toggle="modal"
                                data-bs-target="#test">
                                    Prenota
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" [id]="'view-information' + index" tabindex="-1" aria-labelledby="viewInformationLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title fs-5" id="#viewInformationLabel">{{macchina.marca}}&nbsp;{{macchina.modello}}</p>
                            </div>
                            <div class="modal-body">
                                <img src="{{macchina.imageUrl}}" width="100%" height="200px">
                                <h2 class="my-3">Dettagli Tecnici</h2>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Marca: </span>{{ macchina.marca }}</p>
                                </section>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Modello: </span>{{ macchina.modello }}</p>
                                </section>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Targa: </span>{{ macchina.targa }}</p>
                                </section>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Cilindrata: </span>{{ macchina.cilindrata }}</p>
                                </section>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Prezzo Giornaliero: </span>{{ macchina.prezzoGiornaliero }} €</p>
                                </section>
                                <section class="d-flex align-items-center">
                                    <p><span class="fw-bolder">Potenza: </span>{{ macchina.potenza }}</p>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary vis" data-bs-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary pre">Prenota subito!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="test" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title fs-5" id="#test">Prenota subito</p>
                            </div>
                            <div class="modal-body" *ngIf="!loggato">
                                <div class="alert alert-danger" role="alert">
                                    Per effettuare la prenotazione devi essere loggato!
                                  </div>
                             </div>
                            <div class="modal-body" *ngIf="loggato">
                               <p>SEI LOGGATO</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary vis" data-bs-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary pre" [disabled]="!loggato">Prenota subito!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>