<div class="px-4 py-5 mb-1 text-center border-bottom bg-body-secondary">
    <h1 class="display-5 fw-bold text-body-emphasis my-2">Catalogo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-lead">Date un'occhiata al nostro catalogo, troverete auto <span
                class="descrizione">belle</span> e
            <span class="descrizione1">prestanti</span>.
        </p>
    </div>
</div>
<div class="album py-5">
    <div class="container">
        <form class="w-100 me-3" role="search">
            <label for="ricerca-auto" class="display-6 mb-3">Cerca Auto</label>
            <input type="search" class="form-control border border-secondary" name="ricerca-auto" placeholder="Cerca per modello..." aria-label="Search">
        </form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/lamborghini-huracan.jpg" alt="Lamborghini Huracan">
                    <div class="card-body">
                        <h5>Lamborghini Huracan</h5>
                        <p class="card-text">Breve descrizione della macchina.</p>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-sm btn-primary">Visualizza
                                    Informazioni</button>
                                <button type="button" class="btn btn-sm btn-success">Prenota</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>