<body>
    <div class="px-4 py-5 text-center border-bottom">
        <h1 class="display-5 fw-bold">Catalogo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-lead" style="color: #000000;"><span class="descrizione">Esplora il nostro lussuoso catalogo di autonoleggio a Palermo, dove il fascino dell'Italia incontra la potenza delle prestigiose auto.</span></p>
    </div>
</div>
</body>
<div class="album py-5">
    <div class="container">
        <form class="w-100 me-3" role="search">
            <label for="ricerca-auto" class="display-6 mb-3">Cerca Auto</label>
            <input type="search" class="form-control border border-secondary" name="ricerca-auto"
                placeholder="Cerca per modello..." aria-label="Search">
        </form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/lamborghini-huracan.jpg" alt="Lamborghini Huracan">
                    <div class="card-body">
                        <h5>Lamborghini Huracan</h5>
                        <p class="card-text">La sua elegante e aggressiva estetica è abbinata a prestazioni straordinarie, rendendola una delle vetture più desiderate nel mondo delle auto sportive di fascia alta. 
                            <br>La Huracan è dotata di un motore V10 che eroga una potenza impressionante, garantendo accelerazioni fulminee e una velocità massima eccezionale. L'interno è lussuoso e offre una serie di comfort e tecnologie all'avanguardia, pur mantenendo l'aspetto focoso e sportivo tipico di Lamborghini.</p>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-sm btn-primary vis" data-bs-toggle="modal"
                                    data-bs-target="#view-information">
                                    Visualizza Informazioni
                                </button>
                                <button type="button" class="btn btn-sm btn-success pre">Prenota</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="view-information" tabindex="-1" aria-labelledby="viewInformationLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5" id="#viewInformationLabel">Lamborghini Huracan</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="assets/lamborghini-huracan.jpg" width="100%" height="200px" alt="Lamborghini Huracan">
                <h2 class="my-3">Dettagli Tecnici</h2>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Marca: </span>{{ marca }}</p>
                </section>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Modello: </span>{{ modello }}</p>
                </section>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Targa: </span>{{ targa }}</p>
                </section>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Cilindrata: </span>{{ cilindrata }}</p>
                </section>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Prezzo Giornaliero: </span>{{ prezzo }} €</p>
                </section>
                <section class="d-flex align-items-center">
                    <p><span class="fw-bolder">Potenza: </span>{{ potenza }}</p>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary vis" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary pre">Prenota subito!</button>
            </div>
        </div>
    </div>
</div>