<body class="d-flex align-items-center py-4 bg-body-tertiary"> 
    <main class="form-signin w-100 m-auto">
      <form [formGroup]="autoForm" (ngSubmit)="aggiungiAuto()">
        <img class="mb-4" src="../../../assets/immaginePrescelta.jpg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Aggiungi la tua auto qui</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="modello" id="floatingInput" placeholder="modello">
          <label for="floatingInput">modello</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="targa" id="floatingInput" placeholder="targa">
          <label for="floatingInput">targa</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" formControlName="cilindrata" id="floatingInput" placeholder="eg. 50/125/250/500">
          <label for="floatingInput">cilindrata</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="marca" id="floatingPassword" placeholder="marca">
          <label for="floatingPassword">Marca</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" formControlName="prezzoGiornaliero" id="floatingInput" placeholder="Prezzo giornaliero">
          <label for="floatingInput">Prezzo giornaliero</label>
        </div>
        <div class="form-floating">
          <input type="number" min="0" class="form-control" formControlName="anniPatente" id="floatingInput" placeholder="Nome">
          <label for="floatingInput">Anni di Patente</label>
        </div><br><br>
    
        <button class="btn btn-warning w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">© 2017-2023</p>
      </form>
    </main>
    </body>