label {
    color: #233238;
    display: block;
    text-shadow:
    2px 2px 4px #ffffff,
    0 0 1em #ffffff,
    0 0 0.2em #ffffff;
}
button {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body{
    background-image: url('/assets/b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
}
.desk{
    color:#c5a643;
    font-weight: bolder;
    font-family: 'Lemon Tuesday';
}
h1{
    color: darkgoldenrod;
    font-family: 'Amsterdam Two';
    text-shadow:
    2px 2px 4px #000000,
    0 0 1em #000000,
    0 0 0.2em #000000;
}
.descrizione{
    color:#d9d9d9;
    font-weight: bolder;
    text-shadow:
    2px 2px 4px #2c424d,
    0 0 1em #2c424d,
    0 0 0.2em #2c424d;
}