<body>
  <div class="px-4 py-5 text-center border-bottom">
    <h1 class="display-5 fw-bold">FAQs</h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 text-lead"><span class="descrizione">Qui puoi trovare alcune delle domande più frequenti (FAQ) in merito al nostro servizio.
              Se non dovessi trovare una risposta alle tue domande saremo felici di aiutarti tramite i nostri <a href="/contatti">contatti</a>.
          </span></p>
      </div>
  </div>
  <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <strong>Perchè noleggiare da Palermo Prestige Wheels?</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Prestige Wheels ha a cuore i suoi clienti. Siamo presenti sul territorio da diversi anni e trattiamo i marchi più prestigiosi. Ogni giorno cerchiamo di offrirvi le migliori tariffe, le condizioni più vantaggiose e un chilometraggio illimitato.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Per quanto tempo posso noleggiare un'auto?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            La durata del noleggio è a discrezione del cliente, che potrà scegliere per quanti giorni noleggiare l'auto durante la prenotazione. Ogni auto deve essere noleggiata per almeno un giorno intero. L'auto deve essere riconsegnata presso la nostra sede nel giorno prestabilito. Qualora il cliente vorrebbe estendere la durata del noleggio dovrà comunicarlo anticipatamente.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Come funziona il Pagamento?</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Il pagamento avviene esclusivamente presso la nostra sede. Se la prenotazione è andata a buon fine il cliente potrà pagare prima della consegna dell'auto. Qualora il cliente non dovesse presentarsi la prenotazione verrà cancellata automaticamente.
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>Che cosa è incluso nella tariffa?</strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Salvo diversamente specificato al momento della prenotazione i prezzi comprendono: chilometraggio illimitato, copertura contro terzi e imposta sul valore aggiunto (Iva). Per avere altri servizi come ad esempio: copertura contro il furto (franchigia applicabile), Kasko (franchigia applicabile) e  assicurazione di responsabilità  il cliente dovrà pagare un sovrapprezzo.
            </div>
          </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <strong>Esiste un'età minima per noleggiare una macchina?</strong>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Nella maggior parte dei Paesi, è stabilita un'età minima e un periodo minimo di possesso della patente di guida. I neopatentati possono guidare solo automobili con una potenza massima di 55 kW per tonnellata. Nel caso invece il veicolo abbia un peso inferiore o uguale a 3.500 kg, il limite è di 70 kW per tonnellata. Le auto che i neopatentati possono guidare non possono superare inoltre i 95 cavalli. Tale limite vale per un anno dalla concessione della patente, ciò significa che dopo un anno dal giorno in cui hai preso la patente, puoi guidare qualsiasi macchina, anche quelle di grossa potenza.
          </div>
        </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <strong>Aderite a qualche promozione?</strong>
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Si, riserviamo ai nostri clienti una promozione esclusiva. Dopo ogni 10 prenotazioni l'undicesiva sarà gratuita per un numero di giorni che corrisponde alla media dei giorni di prenotazione delle 10 volte precedenti e per il prezzo medio delle auto che il cliente ha noleggiato nelle prenotazioni precedenti. La promozione non scade e il cliete potrà usufruirne quando vorrà.
  
        </div>
      </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <strong>Può un'altra persona guidare la mia auto a noleggio?</strong>
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Solo i conducenti elencati sul contratto di noleggio sono coperti dall'assicurazione dell'agenzia di autonoleggio e sono autorizzati a guidare l'auto a noleggio. Per aggiungere altri conducenti, ognuno di essi deve mostrare la sua patente presso l'agenzia di autonoleggio. Se si aggiungono dei conducenti al contratto di noleggio, saranno richiesti dei costi supplementari dall'agenzia di autonoleggio.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <strong>C'è un chilometraggio massimo da non superare?</strong>
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        No, il chilometraggio illimitato è incluso nel prezzo negoziato.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        <strong>Quali documenti riceverò quando avrò completato la mia prenotazione?</strong>
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Al termine della prenotazione, ti verrà dato un numero di riferimento che dovrai mostrare presso l'agenzia di autonoleggio al momento del ritiro del veicolo.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        <strong>Quali documenti devo presentare al momento dell'arrivo allo sportello dell'agenzia di autonoleggio?</strong>
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Allo sportello della società di autonoleggio, ti sarà richiesto di mostrare il numero della prenotazione, una patente di guida valida (se la patente non è scritta in caratteri latini, dovrai presentare una patente di guida internazionale), un documento d'identità valido e una carta di credito internazionale (le carte di debito non sono accettate dalle agenzie di autonoleggio).
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        <strong>Devo rifornire il veicolo prima di restituirlo?</strong>
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Il veicolo viene fornito all'utente col serbatoio pieno. Devi restituire il veicolo all'agenzia di noleggio con la stessa quantità di carburante presente al momento del ritiro.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        <strong>Cosa succede se la mia auto a noleggio si rompe o se ho un incidente?</strong>
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        L'agenzia di noleggio ti fornirà un numero di telefono da chiamare in caso di emergenza per ricevere assistenza stradale. Ogni incidente deve essere segnalato all'agenzia di noleggio nel più breve tempo possibile, e comunque non oltre 48 ore dopo l'incidente. All'agenzia, dovrà anche essere fornito un rapporto sull'incidente redatto dalle parti coinvolte.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        <strong>Cosa succede se restituisco il veicolo dopo l'orario previsto?</strong>
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Un ritardo nella restituzione del veicolo può comportare un costo aggiuntivo che ti sarà addebitato dall'agenzia di noleggio. Tuttavia, viene concesso un periodo di tolleranza di 30 minuti.
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        <strong>Vorrei cancellare la mia prenotazione</strong>
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le richieste di cancellazione vengono effettuate tramite il tuo account. Per confermare una richiesta, accedi al tuo account utilizzando le tue credenziali, quindi clicca sul link "cancella la mia prenotazione".
  
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
        <strong>Vorrei modificare la mia prenotazione</strong>
      </button>
    </h2>
    <div id="collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le richieste di modifica vengono effettuate tramite il tuo account. Per confermare una richiesta, accedi al tuo account utilizzando le tue credenziali, quindi clicca sul link "modifica la mia prenotazione".
  
      </div>
    </div>
  </div>
  </div>
</body>