<div class="px-4 py-5 my-3 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">Contatti</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-lead">Per qualunque informazione in merito contattaci pure, siamo a tua
            completa disposizione.</p>
    </div>
</div>
<div class="container px-4 py-2" id="icon-grid">
    <div class="row py-5">
        <div class="col d-flex flex-column align-items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-telephone-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 
                2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 
                2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 
                1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634
                 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="fw-bold mb-0 fs-4 mb-3 text-body-emphasis">Recapiti Telefonici</h3>
                <section class="d-flex gap-2">
                    <p>(Num.Fisso) - </p>
                    <a href="tel:+390931998363">0931998363</a>
                </section>
                <section class="d-flex gap-2">
                    <p>(Cell.) - </p>
                    <a href="tel:+393334542336">3334542336</a>
                </section>
            </div>
        </div>

        <div class="col d-flex flex-column align-items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="chocolate" class="bi bi-envelope-fill"
                viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 
                4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 
                1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="fw-bold mb-0 fs-4 mb-3 text-body-emphasis">Email</h3>
                <section class="d-flex gap-2">
                    <p>(Pec) - </p>
                    <a href="mailto:info@autonoleggio.it">info@autonoleggio.it</a>
                </section>
                <section class="d-flex gap-2">
                    <p>(Email) - </p>
                    <a href="mailto:info.autonoleggio@gmail.com">info.autonoleggio@gmail.com</a>
                </section>
            </div>
        </div>
    </div>
</div>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50217.78677035102!2d13.315719312845165!3d38.12596776319748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1319e5f73e1d620d%3A0x91fbfa911b230869!2sSRC%20Sicily%20Rent%20Car%20Autonoleggio%20Palermo%20Porto!5e0!3m2!1sit!2sit!4v1698151005050!5m2!1sit!2sit"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>