<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" style="font-family: Amsterdam Two;">Ordini Clienti</h1>
</div>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" style="color: #c5a643;">Cognome</th>
              <th scope="col" style="color: #c5a643;">Nome</th>
              <th scope="col" style="color: #c5a643;">Username</th>
              <th scope="col" style="color: #c5a643;">Targa</th>
              <th scope="col" style="color: #c5a643;">Data Ritiro</th>
              <th scope="col" style="color: #c5a643;">Data Ritorno</th>
            </tr>
          </thead>
          <tbody *ngFor="let ordine of ordini">
            <tr>
              <td>{{ordine.cognomeCliente}}</td>
              <td>{{ordine.nomeCliente}}</td>
              <td>{{ordine.username}}</td>
              <td>{{ordine.targa}}</td>
              <td>{{ordine.dataRitiro}}</td>
              <td>{{ordine.dataRitorno}}</td>
              <td><button type="button" class="btn btn-sm btn-outline-danger">Elimina</button></td>
            </tr>
          </tbody>
        </table>
      </div>
