<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ordini Clienti</h1>
</div>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cognome</th>
              <th scope="col">Nome</th>
              <th scope="col">Telefono</th>
              <th scope="col">Anni Patente</th>
              <th scope="col">Macchina Ordinata</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Manfredi</td>
              <td>Octolin</td>
              <td>3451093575</td>
              <td>6</td>
              <td>Ferrari Huracàn</td>
              <td><button type="button" class="btn btn-sm btn-outline-danger">Elimina</button></td>
            </tr>
          </tbody>
        </table>
      </div>
